<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
            Thank you for participating in our experiment! During the exerpiment you will be shown a series of short vides.
            After eaxh video you will be asked to rate how the video made you feel from "Barely at all" to "Strongest imaginable"
            <strong>Please make sure to turn your audio on NOW as it is very improtant for you to hear the video as well.</strong>
	    </p>
	    
	    <p>
            Once you advance from this page, you will perform an example trial of the experiment.
            It is very important you understand the structure of the experiment before participating. The video will automatically start playing,
            so please be prepared and ready to answer the question properly.
        </p>

        <p>
            Thank you for your participation in science.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
